
h1 {
  text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 25%;
  border-radius: 70%;
  border: 5px double black;
  padding: 12px;

}

body {
  background-image: linear-gradient(lightyellow, peachpuff, palegoldenrod);
  
  
}

.font {
  font-family: "Times New Roman", Times;
}

.about {
  text-align: left;
  margin: 12px;
  border: 7px double rgb(41, 37, 14);
  padding: 8px;
  background-color: rgb(252, 246, 203);
  width: 300px;
  float: left;
}

.projects {
  text-align: left;
  margin: 12px;
  border: 7px double rgb(41, 37, 14);
  padding: 8px;
  background-color: rgb(252, 246, 203);
  width: 300px;
  float: right;
}

.list {
  text-align: left;
  border: 2px dotted black;
  padding: 3px;
}

.p {
  text-align: left;
  margin: 12px;
  border: 3px dashed rgb(41, 37, 14);
  padding: 8px;
  background-color: lightsalmon;
  width: 300px;
  
}

.container {
  border: 5px ridge gray;
  padding-top: 10px;
  padding-left: 100px;
  background-color: rgb(148, 184, 148);
}