
h1 {
  text-align: center;
}

img {
  margin-left: auto;
  margin-right: auto;
  display: block;
  width: 20%;
  border-radius: 50%;

}

body {
  background-image: url(../img/ball-copy.pdf);
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  background-attachment: fixed;

}

.about {
  text-align: left;
  margin: 12px;
  border: 10px rgb(148, 236, 236);
  padding: 8px;
  background-color: mintcream;
  width: 300px;
  float: right;
}